body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
  width: 100%;
  height: auto;
}
.header {
  width: 100%;
  height: 100px;
  background-color: rgb(217, 244, 253);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
}
.header h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0 auto;
  text-shadow: 2px 2px 5px rgb(96, 2, 96);
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
}
h1 > b {
  font-size: 40px;
  color: deeppink;
  text-shadow: 2px 2px 5px rgb(179, 170, 179);
}
.nav {
  margin-right: 190px;
  margin-top: 13px;
}
.nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
  text-decoration: none;
}
.nav ul li a {
  color: black;
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav ul li a:hover {
  text-shadow: 2px 2px 5px rgb(254, 251, 254);
  color: deeppink;
  font-size: 28px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.home {
  width: 100%;
  display: block;
}
.homes {
  width: 100%;
}
.homes img {
  width: 100%;
  height: 630px;
}
.homes #topimg {
  position: relative;
}
.homes .description {
  position: absolute;
  top: 250px;
  left: 20%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: rgb(11, 11, 11);
  width: 500px;
  height: 340px;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.8;
}
.homes .description p {
  font-size: 23px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}
.description #topbtn {
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 43px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 17px;
}
.description #topbtn:active {
  background-color: deeppink;
  font-size: 18px;
}

.search-box {
  display: flex;
  align-items: center;
  /* background: white; */
  border-radius: 25px;
  overflow: hidden;
  height: 50px;
  width: 270px;
  margin-top: 20px;
  margin-right: 25px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 10px 15px;
  width: 260px;
  font-size: 16px;
}

.search-box button {
  border: none;
  color: rgb(1, 0, 0);
  padding: 12px 15px;
  cursor: pointer;
}
.topproduct h2 {
  text-align: center;
  font-size: 55px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  width: 1400px;
  height: 500px;
  padding: 20px;
  /* margin: 0 auto; */
  margin-top: 50px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px gray;
}
.box button {
  width: 50px;
  height: 50px;
  background-color: rgb(249, 249, 249);
  border-radius: 50%;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(9, 9, 9);
  border: 1px solid rgb(13, 13, 13);
}
.box button:active {
  background-color: rgb(28, 28, 28);
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.boxcard {
  margin-top: 20px;
  display: flex;
  width: 1400px;
  overflow: hidden;
}
.boxcardtwo {
  display: flex;
  transition: 0.5s;
  gap: 10px;
}
.boxcardtwo .card {
  width: 420px;
  height: 450px;
}
.boxcardtwo .card {
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.boxcardtwo .card img {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 400px;
}
.number {
  width: 400px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.number ul {
  display: flex;
  gap: 10px;
}
.number li {
  list-style: none;
  background-color: rgb(13, 12, 13);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  align-content: center;
  text-align: center;
}
.number .active {
  background-color: rgb(233, 54, 194);
  font-weight: 600;
  color: aliceblue;
  width: 12px;
  height: 12px;
}
.footer {
  margin-top: 100px;
  width: 100%;
  height: 320px;
  background-color: rgb(217, 244, 253);
}
.footer .blockcards {
  display: flex;
}
.blockcards .block1 {
  margin: 0 auto;
  width: 350px;
}
.block1 h2 {
  font-size: 28px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.blockcards .block1 #qr {
  width: 200px;
  margin-left: 70px;
}
.blockcards .block1 #payment {
  width: 100%;
  margin-top: 40px;
}
#social {
  text-align: center;
  padding-bottom: 25px;
  color: rgb(19, 18, 18);
}
#social a {
  margin-top: 60px;
  margin-left: 15px;
  font-size: 24px;
  color: rgb(12, 11, 11);
  border: 3px solid rgb(13, 12, 13);
  width: 50px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  padding-top: 8px;
  /* margin: 0 8px; */
  transition: 0.3s ease;
}
#social a:hover {
  transform: scale(1.2) translateY(-10px);
  color: rgb(250, 124, 225);
  border: 2px solid rgb(250, 124, 225);
}
.block1 ul {
  margin-top: 60px;
  margin-left: 50px;
}
.block1 ul li {
  font-size: 20px;
}
.star-rating {
  font-size: 13px;
  color: #f5c518;
  margin-top: -9px; 
}

.star-rating i {
  margin-right: 8px;
}

#productext {
  font-size: 40px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#pproduct {
  /* background-image: url("/Jquery/frontproject/asset/images/photo_2024-\(D33\).jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat; */
  width: 800px;
  height: 100px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px
}
.procard {
  width: 100%;
  height: auto;
}
#EDP {
  width: 300px;
  background: rgb(255, 230, 239);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 85%, 75% 0);
  height: 50px;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 20px;
}
.proocard {
  width: 100%;
  height: auto;
}
#LC {
  width: 380px;
  background: rgb(225, 239, 253);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 85%, 75% 0);
  height: 50px;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 10px;
  clear: both;
}
.pimg {
  display: flex;
  gap: 60px;
  margin-left: 30px;
  /* align-items: center; */
}
/* #prname {
  background-color: #f5c518;
  width: 150px;
  height: 40px;
  font-size: 18px;
  margin-bottom: 90px;
} */
.blockcard {
  width: 95%;
  /* height: 440px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 50px;
  column-gap: 25px;
}
.blockcard .card {
  border-radius: 10px;
  width: 97%;
  height: 440px;
  box-shadow: 1px 1px 5px gray;
}
.blockcard .card img {
  width: 300px;
  height: 280px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 10px;
}
.star-rating i {
  margin-top: 25px;
}
.buys {
  background-color: lightpink;
  width: 50%;
  height: 40px;
  font-size: 18px;
  margin-bottom: 90px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.buys a{
  text-decoration: none;
}
.blockcard .card .buys:active {
  background-color: rgb(209, 238, 252);
}
.bloockcard {
  width: 95%;
  /* height: 440px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 50px;
  column-gap: 25px;
}
.bloockcard .cardd {
  border-radius: 10px;
  width: 97%;
  height: 490px;
  box-shadow: 1px 1px 5px gray;
}
.bloockcard .cardd img {
  width: 300px;
  height: 330px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 10px;
}
.buys {
  background-color: lightpink;
  width: 50%;
  height: 40px;
  font-size: 18px;
  margin-bottom: 90px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.bloockcard .cardd .buys:active {
  background-color: rgb(209, 238, 252);
}
.boxpdetail{
  width: 100%;
  height: auto;
  background-color: rgb(254, 254, 254);
  display: block;
}
.detailcard{
  display: flex;
}
.detailcard img{
  width: 460px;
  height: auto;
  margin: 80px;
  border-radius: 10px;
  box-shadow: 2px 1px 5px gray;
}
.detailcard .detailblock{
  width: 650px;
  height: 500px;
  margin-top: 40px;
}
#pas{
  display: flex;
  gap: 40px;
}
#stock{
  color: green;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 27px;
  font-size: 20px;
}
#paradetail{
  gap: 30px;
  font-size: 25px;
  color: rgb(101, 100, 100);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.detailblock #pdt{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.detailblock #dpr{
  font-size: 25px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
.btn{
  display: flex;

}
#buynow{
  background-color: rgb(13, 168, 246);
  width: 50%;
  height: 40px;
  font-size: 18px;
  margin-bottom: 90px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
#buynow:active{
  background-color: rgb(9, 10, 1);
  color: rgb(247, 227, 4);
  cursor: pointer;
}
#backpage{
  align-items: center;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(249, 246, 246);
  box-shadow: 1px 1px 5px gray;
  color: rgb(27, 26, 26);
  margin-top: 10px;
  /* margin-left: 30px; */
}
#backpage:active{
  background-color: rgb(9, 10, 1);
  color: rgb(247, 227, 4);
  cursor: pointer;
  width: 123px;
  height: 42px;
}
.lastdetail{
  gap: 20px;
  display: flex;
}
.quantity p{
  font-size: 27px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
}
.quantity {
  margin-left: 300px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
#plus{
  font-size: 34px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(15, 15, 15);
  color: rgb(245, 238, 238);
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
}
#minu{
  font-size: 43px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(15, 15, 15);
  color: rgb(245, 238, 238);
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
}
.quantity #plus:active{
  background-color: rgb(245, 242, 242);
  color: rgb(18, 18, 18);
}
.quantity #minu:active{
  background-color: rgb(255, 254, 254);
  color: rgb(11, 11, 11);
}

.contactus {
  width: 80%;
  margin: 0 auto;
  height: 680px;

  display: flex;
}
.blockconta{
  width: 50%;
  height: 640px;
  background-color: rgb(5, 4, 4);
  padding: 20px;
}
.blocktextcontact{
  width: 85%;
  border: 1px solid black;
  margin: 0 auto;
}
.blocktextcontact h2{
  font-size: 30px;
  font-weight: 800;
  color: white;
  text-align: center;
}
.blocktextcontact p{
  color: white;
  font-size: 19px;
  align-items: center;
  text-align: center;
}
.lbl{
  color: white;
  font-size: 19px;
}
#contactname{
  width: 90%;
  height: 40px;
  font-size: 19px;
  border-radius: 4px;
  border: none;
  padding-left: 10px;
}
#contactemail{
  width: 90%;
  height: 40px;
  font-size: 19px;
  border-radius: 4px;
  border: none;
  padding-left: 10px;
}
.imgwithdetail {
  width: 60%;
  background-color: rgb(255, 235, 248);
}
.iwd{
  width: 70%;
  height: 560px;
  margin: 0 auto;
}
.imgwithdetail .iwd img{
  width: 95%;
  height: 370px;
  box-shadow: 1px 1px 5px gray;
  border-radius: 10px;
}
#contactmessage{
  width: 90%;
  border-radius: 6px;
  padding: 10px;
  height: 70px;
  font-size: 19px;
}
#contactsubmit{
  font-size: 19px;
  width: 95%;
  height: 40px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  background-color:rgb(202, 237, 255);
}
.iwd h2{
  text-align: center;
  font-weight: 800;
  margin-top: 40px;
  font-size: 30px;
}
.iwd p{
  font-size: 18px;
  text-align: center;
}
.bag-icon {
  font-size: 28px;
  color: #000;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-top: 25px;
  padding: 10;
  border-radius: 50%;
}


.about {
  /* background: #fec4e0; */
  /* padding: 60px; */
  padding-top: 20px;
  height: 100vh;
  width: 100%;
}

.about h1 {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
 background-color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 40px;
}

.story {
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.story-text {
  flex: 1;
  background-color: #070707;
  border-radius: 8px;
}

.story-text h2 {
  margin-top: 70px;
  text-align: center;
  font-weight: 700;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: deeppink;
  color: white;
  font-size: 30px;
}

.story-text p {
  line-height: 1.3;
  font-weight: bold;
  align-items: center;
  text-align: center;
  font-size: 23px;
  /* margin-bottom: 15px; */
  margin: 0 auto;
  color: white;
  width: 700px;

}

.story-media {
  flex: 1;
}

.story-media img,
.story-media video {
  width: 100%;
  border-radius: 8px;
}


.staff {
  padding: 60px 20px;
  background: #fafafa;
  text-align: center;
}

.staff h2 {
  /* margin-bottom: 40px; */
  padding: 10px;
  width: 71%;
  margin: 0 auto;
  background-color: #ffeff8;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.staff-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.staff-card {
  background-color: #f9fdff;
  padding: 20px;
  width: 220px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px gray;
}

.staff-card img {
  width: 100%;
  height: 230px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.staff-card h3 {
  margin-bottom: 5px;
}



.review .box-conta{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-conta .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem black;
    border-radius: .5rem;
    position: relative;
    padding: 10px;
}
.review .box-conta .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: #eee;
}
.review .box-conta .box .stars i{
    color: var(--pink);
    font-size: 2rem;
}
.review .box-conta .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 2rem;
}
.review .box-conta .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.review .box-conta .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-conta .box .user h3{
    font-size: 2rem;
    color: #333;
}
.review .box-conta .box .user span{
    font-size: 1.5rem;
    color: #999;
}

.feedback {
  padding: 60px 20px;
  background: #fff;
  text-align: center;
}

.feedback h2 {
  padding: 10px;
  width: 71%;
  margin: 0 auto;
  background-color: #ffeff8;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.feedback-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  
}
.feedback-card {
  margin-top: 30px;
  background-color: #f9fdff;
  padding: 25px;
  width: 290px;
  border-radius: 9px;
   box-shadow: 1px 1px 5px gray;
}
.feedback-card p {
  font-style: italic;
  margin-bottom: 15px;
}
/* #addtocard{
  background-color: #f5c518;
} */
#addtocard i{
  position: relative;
  top: 2px;
  background-color: #999;
  width: 50px;
}
#addtocard #btncardnumber{
  width: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  position: absolute;
  font-size: 15px;
  top: 27px;
  right: 60px;
  font-weight: 600;
}
 .boxproducts{
  width: 98%;
  height: auto;
  padding: 20px;
  position: absolute;
  z-index: 3;
  background-color: white;
  /* display: none; */
 }
 .boxx{
  width: 88%;
  height: auto;
  /* padding: 40px; */
  padding-left: 20px;
  padding-right: 40px;
  background-color: #edebeb;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
 }
 .procards{
  margin-top: 20px;
  box-shadow: 1px 1px 5px gray;
  background-color: white;
  width: 300px;
  height: 480px;
  /* margin: 0 auto; */
  padding: 10px;
  border-radius: 10px;
 }
 #picbuyproduct{
  width: 300px;
  height: 300px;
  object-fit:cover;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0 auto;
  border-radius: 8px;
 }
 #titlebuyproduct{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 270px;
  height: 60px;
  overflow: hidden;
  word-wrap: break-word;
  align-items: center;
  text-align: center;
 }
 #pricebuyproduct{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100px;
  margin-top: -16px;
  overflow: hidden;
  word-wrap: break-word;
 }
 #deleteproduct{
  width: 99%;
  height: 40px;
  cursor: pointer;
  background-color: red;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: white;
  /* margin-top: -8px; */
 }

.totalprice{
  width: 91%;
  height: 80px;
  display: flex;
  margin: 0 auto;
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
}
#producttotalprice{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #eee;
  width: 50%;
  height: 50px;
}
#btnclose{
  margin-top: 20px;
  border: none;
  width: 48%;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}
#btnclose:hover{
  background-color: rgb(70, 207, 49);
}